// CONTENT
// ===================
// 1. Default
// ===================


// 1. Default
// -----------------
#content {
    display: flex;
    grid-column-gap: 20px;
    padding: 0 40px;
}

main {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
}
// -----------------
