// HEADER
// ===================
// 1. Default
// 2. Brand
// ===================


// 1. Default
// -------------------
header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 20px;
    box-shadow: 0 10px 20px rgba($black, 0.1);
    background: $white;
}
// -------------------


// 2. Brand
// -------------------
// -------------------