// HEADER
// ===================
// 1. Default
// 2. Brand
// ===================


// 1. Default
// -------------------
header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 60px;
    padding: 10px;
    background: var(--primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white;
    
    @media (max-width: 768px) {
        width: 100vw;
        height: 50px;
        flex-direction: row;
    }
}
// -------------------


// 2. Brand
// -------------------
// -------------------