.boxes {
    display: flex;
    justify-content: space-between;
    width: calc(100% + 20px);
    flex-wrap: wrap;
}

.box {
    text-align: left;
    background: var(--primary);
    padding: 0px 40px 20px 40px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: calc(50% - 20px);
    color: $black;
    text-decoration: none;
    flex: 1 0 auto;
    @media (max-width: 620px) {
        width: calc(100% - 40px);
    }

    h3 {
        color: $white;
    }
}