.questions {

}

.question {
    counter-increment: number;
    position: relative;
    padding-left: 80px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba($black, .1);

    &:last-child {
        margin-bottom: 0;
    }

    &:before {
        content: counter(number);
        position: absolute;
        color: rgba($black, 1);
        left: 0;
        font-family: $font-title;
        font-size: 3.5rem;
    }

    span {
        color: var(--primary);
        font-weight: bold;
    }
}