.video {
    width: calc(100% + 40px);
    margin-left: -20px;
    background: $grey;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        @include transition(.25s, (opacity, visibility));

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-top: 40px solid transparent;
            border-bottom: 40px solid transparent;
            border-left: 60px solid $white;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    video {
        display: block;
        width: 100%;
    }

    &.is-playing {
        picture {
            visibility: hidden;
            opacity: 0;
        }
    }
}