doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title YSJ Student And Ecological Justice
  meta(name="description" content="The concept of ecological justice conveys how climate and ecological degradation deepen other forms of inequality, affecting the most vulnerable first and worst.")
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
body
  #app
    include ../Partials/header.pug
    #content
      block content 
      include ../Partials/footer.pug
  .loader