extends ../../Layout/master.pug

block content
  main
    section.hero
      .container.-lg
        .breadcrumb Schools          
        h1 
          .js-split-words School of Education, Languages and Psychology Action Research Team
          .subtitle Dr Clare Cunningham, Ryan Myhill and Nicole Nash
        .hero__desc
          p.-lg A staff-student team in the School of Education, Language & Psychology (ELP) conducted a series of one-to-one and group interviews with students and an online staff survey in order to develop an understanding of student and staff attitudes towards ecological and environmental justice related teaching and learning opportunities in the curriculum. 
      .scroll
        img(src="/assets/arrow-down-lg-black.svg", alt="")
    
    section
      .container.-lg
        .cols
          .col
            .image
              picture.image-lazy
                source(media="(min-width: 320px)" data-srcset="/assets/image-tes.jpg")
                img(src="/assets/image-tes.jpg", alt="")
          .col
            p We found that students and staff generally had positive attitudes towards ecological and environmental justice related teaching and learning opportunities and are keen to tackle these issues. We also found that many students and staff are already finding ways to adapt to the ecological crisis, both in and outside of the university, including using public transport instead of driving, recycling and using paperless teaching materials. 
    
    section
      .container
        .cols
          .col.center
            p.-lg However, students and staff hold some assumptions about ecological and environmental justice that could be challenged. For example, some students believe that ecological justice is not relevant to their subject area. There is also concern – noticeably around staff members – that their knowledge of ecological and environmental issues is not adequate. Clearly, we must challenge these assumptions to demonstrate that ecological and environmental justice is relevant to all subject areas and can be taught, even by ‘non-experts’.
    
    section
      .container.-lg
        .cols
          .col
            .image
              picture.image-lazy
                source(media="(min-width: 320px)" data-srcset="/assets/image-tes.jpg")
                img(src="/assets/image-tes.jpg", alt="")
          .col
            p Our next step will be to produce a “how-to-guide” which supports staff with incorporating these issues into teaching and learning opportunities in a way that is engaging yet natural to the subject area.  So far, we have examined similar guides that have been produced by other institutions, some of which were unengaging and inaccessible, whilst others presented photographs showcasing the campus environment. 
    

    section
      .container
        .cols
          .col.center
            p.-lg Finally, we found that integrating these issues is not just about opening a textbook or delivering a lecture. It must be fun, but also not overly daunting so that it actually puts staff and students off taking action needed to work towards ecological and environmental justice. 
    
    section.grey
      .container.-lg.center
        h2 Check out other schools
        .schools
          a(href="/schools/york-business-school/").school
            img(src="/assets/icon__square.svg", alt="")
            h3 Business
          a(href="/schools/school-of-the-arts/").school
            img(src="/assets/icon__hexagon.svg", alt="")
            h3 Art
          a(href="/schools/school-of-humanity/").school
            img(src="/assets/icon__circle.svg", alt="")
            h3 Humanity
          
        