extends ../../Layout/master.pug

block content
  main
    section.hero
      .container.-lg
        .breadcrumb Schools          
        h1 
          .js-split-words SCHOOL OF HUMANITIES ACTION RESEARCH TEAM
          .subtitle Dr Jude Parks, Sophie Blackburn and Daisy Hutchinson
        .hero__desc
          p.-lg A staff-student team conducted five online focus groups with Humanities students, to explore one of the themes arising from Phase 1: the disjuncture between students’ learning and campus environmental practice. 
    
    section
      .container.-lg
        .cols
          .col
            picture.image-lazy
              source(media="(min-width: 320px)" data-srcset="/assets/image-tes.jpg")
              img(src="/assets/image-tes.jpg", alt="")
          .col
            p Our findings revealed important insights into students’ knowledge of, responses to, and engagement with campus ‘green initiatives’. Participants were unaware of some of YSJ’s environmental practice, but saw email and social media communication as having limited value in promoting these. Pride in YSJ was important: participants wanted YSJ to go above and beyond standard practice in its commitment to ecological justice. Participants valued campus environmental initiatives and the opportunities these offer for learning and for greening their lifestyles, but they wanted dedicated space for sustainability conversations and demonstrations. 
    
    section
      .container
        .cols
          .col.center
            p Our findings were Presented visually as an Annotated version of YSJ’s campus nature map in staff and student workshops, along with Recommendations and what works. Workshop participants’ responses were gathered and Presented along with our findings at YSJ’s Talking about Teaching for Social Justice conference. Some of our findings fed into planning and student materials for YSJ’s Welcome Week 2021.  We plan to display our annotated map as a Poster around campus, and to write a geography journal article.
    
    section.grey
      .container.-lg.center
        h2 Check out other schools
        .schools
          a(href="/schools/york-business-school/").school
            img(src="/assets/icon__square.svg", alt="")
            h3 Business
          a(href="/schools/school-of-the-arts/").school
            img(src="/assets/icon__hexagon.svg", alt="")
            h3 Art
          a(href="/schools/school-of-elp/").school
            img(src="/assets/icon__triangle.svg", alt="")
            h3 Education, Languages and Psychology