extends ../../Layout/master.pug

block content
  main
    section.hero
      .container.-lg
        .breadcrumb Schools          
        h1 York Business School Action Research Team
          span Dr Silvia Szilagyiova, George Blaikie and Megan Coales
        .hero__desc
          p.-lg Student researchers from York Business School investigated the link between ecological justice and employability. Their research across the literature showed a gap between employability skills taught by universities and a new skillset required by new green industries.
    
    section
      .container.-lg
        .cols
          .col
            picture.image-lazy
              source(media="(min-width: 320px)" data-srcset="/assets/image-tes.jpg")
              img(src="/assets/image-tes.jpg", alt="")
          .col
            p These finding underpinned their research to investigate the attitudes of York Business School students towards ecological justice and awareness of skills required in the transition to green economy. The findings from 3 focus groups show a lack of awareness and understanding of skills needed for transition to green economy among Business School students. 
            p Furthermore, the findings also showed a mixture of attitudes towards ecological justice and lack of understanding of the link between ecological justice and their programme of study. These findings highlight the need of an open discussion among the educators at York Business School about inclusion of ecological justice in curriculum. 
    
    section.grey
      .container.-lg.center
        h2 Check out other schools
        .schools
          a(href="").school
            h3 Art
          a(href="").school
            h3 Humanity
          a(href="").school
            h3 Business