header
    a(href="/").logo
        img(src="/assets/logo.svg", alt="")
    .toggle
        span 
        span 
        span
    .social

nav
    ul  
        li
            a(href="/") Home
        li
            a(href="/findings") Findings
        li
            a(href="/recommendations") Recommendations
        li
            a(href="/guide") Guide
        li
            a.-sm(href="/schools/york-business-school/") York Business School
        li
            a.-sm(href="/schools/school-of-elp/") School of EPL
        li
            a.-sm(href="/schools/school-of-the-arts/") School of the Arts
        li
            a.-sm(href="/schools/school-of-humanity/") School of Humanity
    