header
    a(href="/").logo
        img(src="/assets/logo.svg", alt="")
    .toggle
        span 
        span 
        span
    .social

nav
    ul  
        li
            a(href="/") Home
        li
            a(href="/schools/york-business-school/") York Business School
        li
            a(href="/schools/school-of-epl/") School of EPL
        li
            a(href="/schools/school-of-the-art/") School of the Art
        li
            a(href="/schools/school-of-humanity/") School of Humanity
    