aside
    nav
        h3  Components
        ul
            li
                a(href="#") Carousel
            li
                a(href="#") Slider
        
        h3  Functions
        ul
            li
                a(href="#") Selectors
            li
                a(href="#") Numbers