extends ../Layout/header.pug

block content
  main 
    h1 Carousel
    p This page shows the examples of carousel components.

    code= '<div>Hello</div>'

    p Image
    img(src="/assets/image-tes.jpg", alt="")