extends ../Layout/master.pug

block content
  main
    section.hero.black
      picture.image-lazy.hero__bg
        source(media="(min-width: 320px)" data-srcset="/assets/findings-bg.jpg")
        img(src="/assets/findings-bg.jpg", alt="")
      .container.-lg
        .breadcrumb Findings          
        h1
          .js-split-words YSJ Students and Ecological Justice: expectations, anxieties and agency
          .subtitle Phase 1 research (July 2020)
        .hero__desc
          p In July 2020 we conducted seven in-depth focus groups with 23 students representing all Schools and stages of study, enquiring into their emotional responses, sense of agency, and expectations of their university education with regard to ecological justice. Simultaneously we conducted a <strong>Mentimeter study</strong> of a much larger number of students, with questions covering similar territory. 
    

    section.black
      .container
        
        .cols
            .col
                h2.js-split-words Quantitative analysis
            .col
                
                p Quantitative analysis of the Mentimeter study by <i>Silvia Szilagyiova</i> generated intriguing <strong>findings</strong>, for example:
                ul.findings
                    li Students who recognised the need for social justice and economic equality, and who saw the link between social justice and environmental sustainability, felt more empowered to work with others for change.
                    li Students felt climate and environmental issues to be more relevant to their life as citizens than to their professional life.
                    li Students placed climate and environmental issues below mental health, gender equality and diversity in order of importance, yet over 70% believed climate change affects their wellbeing.
        
        .cols
            .col
              .image
                picture.image-lazy
                    source(media="(min-width: 320px)" data-srcset="/assets/findings-graph.jpg")
                    img(src="/assets/findings-graph.jpg", alt="")
            .col
                p These could then be investigated in greater depth through qualitative analysis of the focus groups. This analysis was done by two separate researchers (<i>Jude Parks</i> and <i>Clare Cunningham</i>). Their research focused primarily on questions around students’ sense of agency, responding to some of the tensions and contradictions above. 

    section
      .container
        
        .cols
            .col
                h2 Agency: qualitative analysis
            .col
                
                p Their analysis found several layers of factors which disempowered students – ranging from their frustration with the actions of others, to feeling overwhelmed by the scale of the climate problem, to their perception that as employees they would have little influence over their employers’ decisions. 
                p Those students who did feel more empowered were those who were already connected to ecological justice issues through volunteering, activism, or educational experiences within their subject disciplines or extracurricular activities. 
                p During focus groups, students’ views were seen to shift and deepen as they encountered other perspectives, for example exploring links between mental and physical health and climate change, or avenues for influence within their professional life which they had not previously considered. The experience of the focus groups thus pointed to the overarching value of creating opportunities within university life for students to explore their beliefs around ecological justice
    
    section.black
      .container
        
        .cols
            .col
                h2 Emotional discourses
            .col
                
                p A further analysis of the data by <i>Cath Heinemeyer</i> focused on students’ emotional stances towards ecological justice and the corresponding desires they had from their university education. This yielded five distinct emotional discourses, within individual students often expressing more than one discourse within focus groups. 
        