extends ../Layout/master.pug

block content
  main
    
    section.black.hero
      picture.image-lazy.hero__bg
        source(media="(min-width: 320px)" data-srcset="/assets/guide-bg.jpg")
        img(src="/assets/guide-bg.jpg", alt="")
      .container.-lg
        h1.js-split-words GUIDED REFLECTION ON ECOLOGICAL JUSTICE 
        .hero__desc
          p This is a guided reflection exercise for use in academic teams, or professional services teams who engage with students as educators in a broad sense.


    section.black
      .container.-lg
        .cols
          .col.center
            p.-lg.js-split-words Its aim is to help both individuals and teams consider the links between their own teaching practice and the climate crisis, and of their own particular pedagogical approach to sustainability and justice issues. It is intended for use within team meetings, and will probably take at least 30-45 minutes. 
    
    section.black
      .container.-lg
        .cols
          .col
            .image
              picture.image-lazy
                source(media="(min-width: 320px)" data-srcset="/assets/guide-team.jpg")
                img(src="/assets/guide-team.jpg", alt="")
          .col
            p One team member should read out the questions one at a time, and allow colleagues time to reflect and write down individual answers. This could be followed by a discussion period, and/or team members could be invited to hand in their answers if they feel comfortable doing so. These could then be collated and drawn up as a tool for further discussion, perhaps working towards a statement of shared pedagogical approach.  
            p Feel free to adapt the questions. Allow people to rebel against the way they are worded. Welcome questions about their terminology.

    section
        .container
          .cols 
            .col
              .questions 
                  .question
                      p Think of yourself teaching your favourite module or delivering your favourite activity – the one you feel comes closest to expressing who you are as an educator. Then complete the sentence: <i>When I teach my favourite module or activity I am trying to show the students that…</i>
                  .question
                      p Still thinking about that module or activity, <i>when I picture those students in ten years I see them…</i>
                  .question
                      p <i>Overall in my teaching practice, I try to help students cultivate relationships with…</i>
                  .question
                      p <i>In the current time of accelerating climate crisis, the students I teach, in the careers they are going into, need to <span>be able to</span>…</i>
                  .question
                      p <i>And in this time they need to <span>understand</span>…</i>
                  .question
                      p <i>And to help them develop these skills and understandings my colleagues and I…</i>
                  .question
                      p The idea of a ‘just transition’ to a sustainable society emphasises the need for radical economic and social change, implemented in a way that addresses the injustices within society. For example, creating opportunities by redesigning the economy, supporting people into green jobs, protecting the most vulnerable from ecological and social crises and shocks. A full definition by the Climate Justice Alliance is below. <i>The idea of a ‘just transition’ strikes me as relevant (or not) to my students in the following ways…</i>
                  .question
                      p <i>Some areas I would like to consider further in relation to my teaching practice and themes of the climate crisis or a Just Transition are….</i>

    section.black
        .container
          .cols
            .col
              .quote
                  .quote__desc
                      p.-lg.js-split-words "Just Transition is a vision-led, unifying and place-based set of principles, processes, and practices that build economic and political power to shift from an extractive economy to a regenerative economy. This means approaching production and consumption cycles holistically and waste-free. The transition itself must be just and equitable; redressing past harms and creating new relationships of power for the future through reparations. If the process of transition is not just, the outcome will never be. Just Transition describes both where we are going and how we get there."
                  .quote__author 
                      a(href="https://climatejusticealliance.org/just-transition/" target="_blank") Climate Justice Alliance