extends ../Layout/master.pug

block content
  main
    
    section.black.hero
      .container.-lg
        h1 YSJ STUDENTS AND ECOLOGICAL JUSTICE
        .hero__desc
          p Students are graduating into a world of climate tipping points and great uncertainty, in which environmental, social and economic challenges are deeply intertwined. The concept of ecological justice conveys how climate and ecological degradation deepen other forms of inequality, affecting the most vulnerable first and worst. 
    
    section.black
      .container.-lg
        .cols
          .col
            picture.image-lazy
              source(media="(min-width: 320px)" data-srcset="/assets/image-tes.jpg")
              img(src="/assets/image-tes.jpg", alt="")
          .col

    