extends ../Layout/master.pug

block content
  main
    
    section.black.hero
      picture.image-lazy.hero__bg
        source(media="(min-width: 320px)" data-srcset="/assets/homepage-bg.jpg")
        img(src="/assets/homepage-bg.jpg", alt="")
      .container.-lg
        h1.-lg YSJ STUDENTS AND ECOLOGICAL JUSTICE
          span Research Project
        .hero__desc
          p Students are graduating into a world of climate tipping points and great uncertainty, in which environmental, social and economic challenges are deeply intertwined. The concept of <strong>ecological justice</strong> conveys how climate and ecological degradation deepen other forms of inequality, affecting the most vulnerable first and worst. 
      .scroll
        img(src="/assets/arrow-down-lg.svg", alt="")
    
    section.black
      .container.-lg
        .cols
          .col
            picture.image-lazy
              source(media="(min-width: 320px)" data-srcset="/assets/homepage-intro.jpg")
              img(src="/assets/homepage-intro.jpg", alt="")
          .col
            p In students’ lives as citizens and professionals, they will need to both adapt to these overlapping crises, and to contribute to a just transition to a more sustainable society. Indeed York St John University’s <strong>2026 strategy</strong> states that it will shape capacity to rise to pressing environmental challenges. 
            p Cross-university collaborative research was needed to establish students’ perspectives on ecological justice, so as to inform pedagogical responses across multiple subject areas, which might enable students to develop a sense of agency and active hope.

    section.black
      .container
        .cols
          .col.center
            h3 So this is what our research project set out to do
            p.-lg This website shares the project’s <a href="/findings" title="Findings">findings</a>, <a href="/outputs" title="Outputs">outputs</a> and <a href="/recommendations" title="Recomendations">recommendations</a>. A guided <a href="/guide" title="Reflection Exercise">reflection exercise</a> is also included for university staff teams at any university to reflect on their own pedagogy and relationship to ecological justice.
    
    section.black
      .container
        .video
          picture.image-lazy
            source(media="(min-width: 320px)" data-srcset="/assets/homepage-video.jpg")
            img(src="/assets/homepage-video.jpg", alt="")

    section
      .container
        .cols
          .col
            h2 Phase 1
          .col 
            p Phase 1 of this project was funded by YSJ’s Institute for Social Justice. It involved staff from four Schools conducting seven focus groups with 23 students from all programmes and year groups, facilitated by a YSJ Master's student, and a survey involving 331 students, in summer 2020. It explored YSJU students' anxieties, sense of agency and expectations of the university around ecological justice. Phase 1 findings underlined the need to orient the university’s pedagogical approach to ecological justice around integrative concepts of systemic, structural change and alternative possible futures, which prepare students to help reshape and build the resilience of their workplaces and communities. The findings are informing the production of a book chapter and two journal articles, one focusing on student expectations, and the other on student agency. Four key themes identified from preliminary analysis of the focus group data informed the design of Phase 2.

    section.black
      .container.-lg.center
        h2 Phase 2: THE STAFF-STUDENT COLLABORATIVE PROJECTS
        p Phase 2 involved four action research projects. Four staff members, one from each of the four participating Schools, each led a team of two student researchers, to explore one of the four themes identified in Phase 1:

        .boxes
          
          a.box(href="#")
            h3 Art
            p.-sm The desire among students for extra-curricular events and opportunities at YSJ to support their efforts to contribute to ecological justice both now and in their future careers.
          
          a.box(href="#")
            h3 BUSINESS
            p.-sm Students’ desire to understand systemic and structural approaches to address interlinked global challenges rather than individual behaviour change, which they justifiably regard as having limited potential.
          
          a.box(href="#")
            h3 EDUCATION, LANGUAGE AND PSYCHOLOGY
            p.-sm The need for students and staff to consider proactively how their programmes might integrate issues of ecological justice in a way that is natural to the subject area.

          a.box(href="#")
            h3 HUMANITIES
            p.-sm The disjuncture between students’ learning and campus environmental practice, and the lack of opportunities for students on many programmes to learn actively through engagement with campus systems.
    
    section
      .container
        .cols
          .col
            h2 METHODS
          .col 
            p PHASE 2 aimed to actively experiment with pedagogies and practices derived directly from our in-depth Phase 1 research. The entire research team of staff and students worked collectively at the outset of the project, with staff providing initial training in relevant research and facilitation skills, and an introduction to the concept of ecological justice. Then, supported by the relevant staff members, each student researcher team set the research agenda around their theme, conducting the research, and organising and evaluating any actions. The students also came together as a larger team to share ideas, as well as coming together with the staff team to guide the direction of the individual projects and the wider project.

    section
      .container
        .cols
          .col.center
            p.-lg The student co-researchers have gained valuable research, presentation, and team working experience, helping them develop many of the <a href="https://www.yorksj.ac.uk/media/content-assets/academic-development/documents/Graduate-Attributes-Flyer.pdf" target="_blank">YSJU Graduate Attributes</a>.
            p Discover some of our action research project outputs and findings and recommendations as you read on. 
    