extends ../Layout/master.pug

block content
  main
    section.hero.black
      picture.image-lazy.hero__bg
        source(media="(min-width: 320px)" data-srcset="/assets/recommendations-bg.jpg")
        img(src="/assets/recommendations-bg.jpg", alt="")
      .container.-lg
        .breadcrumb Recomendations          
        h1 DESIRES FOR DEVELOPMENT
        .hero__desc
          p The action research project as a whole, recognising that each academic subject must develop its own approach to ecological justice, stopped short of writing recommendations for the university. 
      .scroll
        img(src="/assets/arrow-down-lg.svg", alt="")
    

    section.black
      .container
        
        .cols
            .col.center
                p.-lg Rather, we created a set of interlinked <strong>‘Desires for Development’</strong> as follows:
                picture.image-lazy
                    source(media="(min-width: 320px)" data-srcset="/assets/findings-bg.jpg")
                    img(src="/assets/findings-bg.jpg", alt="")
    
    section.black.-slim
      .container
        
        .cols
            .col.center
                h2 Detailed recommendations from action research teams
    
    section.black
      .container
        .cols
            .col
                h3 School of the Arts principles
            .col 
              ul.findings
                li Honesty about the gravity of the ecological crisis and what it means for students’ lives and careers
                li A common group/ground - physical space on campus for student sustainability initiatives
                li Coverage of issues in curricula, in a discipline-specific way
                li Shaped by students – students and staff as partners in creating an ecologically just university, helping redesign curricula and campus life
                li Geographic greening - a biophilic campus whose design and running reflects its values
                li Transparency about the university’s green progress and challenges encountered
                li Sustainability trumps Aesthetics as a design principle
                li Break hierarchies to enlist students as citizens and act upon their ideas and initiatives
    
    section
      .container
        .cols
            .col
                h3 School of Humanities recommendations:
            .col 
              ul.findings
                li Include green measures as a part of sports and societies accreditation. 
                li Install a permanent ‘Our Green YSJ’ board in Holgate. 
                li Support and encourage alternatives to those behaviours (especially transport) that 'undo the good': Facilitate 'cycling buses', and invite student involvement in greening fieldtrips. 
                li Create social spaces for ‘green conversations’ to happen. 
                li Strike a balance between INTEGRATING and NAMING sustainability. 
                li Ramp up participatory opportunities, such as Geography’s Greening the University Day. 
                li MENTION the campus’s green offer - by known people rather than in anonymous emails. 
                li Use Moodle to communicate about the campus’s green offer. 
                li Engage students at Open Days, Welcome Week*, and beyond. 
                li With new students, integrate getting to know York with getting to know York's green opportunities. As Daisy said: “Connecting to the land is relevant to any course". 
                li Enhance opportunities for practical learning and demonstrations, e.g. greening your student diet. 
                li ”If you’re going to do it, make it obvious”: Make things visible where students are likely to be stood waiting. 
                li Engage engaged students in engaging others. 
                li Include ‘sustainable study tips’ in year 1 skills modules 
                li Use our green campus as ‘a microcosm of the world’!  
