extends ../Layout/master.pug

block content
  main
    section.hero.black
      picture.image-lazy.hero__bg
        source(media="(min-width: 320px)" data-srcset="/assets/recommendations-bg.jpg")
        img(src="/assets/recommendations-bg__thumb.jpg", alt="")
      .container.-lg
        .breadcrumb Recomendations          
        h1 
          .js-split-words DESIRES FOR DEVELOPMENT
        .hero__desc
          p The action research project as a whole recognised that each academic subject must develop its own approach to ecological justice. 
      .scroll
        img(src="/assets/arrow-down-lg.svg", alt="")
    

    section.black
      .container
        
        .cols
            .col.center
                p.-lg.js-split-words Firstly, we created a set of interlinked ‘Desires for Development’ as follows:
                .diagrams
                  .diagram.diagram__one
                    ._content
                      h3.js-split-words Campus life
                      ul
                        li Honest, empathetic, collaborative dialogue about climate crisis and curriculum
                        li Rewild the university - microcosm of a just and sustainable society
                        li Tell stories of change - speakers, projects, case studies, global, local
                  .diagram.diagram__two
                    ._content
                      h3.js-split-words Curriculum INTEGRATION
                      ul
                        li Avenues to learn to 'see' ecological justice through each discilpline's lens
                        li Focus on employability for 21<sub>st</sub> century careers and issues
                        li Teach alternative models e.g. Circular Economy
                        li Put innovation and design at the centre
                  .diagram.diagram__three
                    ._content
                      h3.js-split-words Campus as living lab
                      ul
                        li Keep the university community informed - via emails and permanent Our Green YSJ noticeboard
                        li Create a social space for 'green conversations' to happen
                        li Induct new students into York's green opportunities
    
    section.-slim.white
      .container
        
        .cols
            .col
              h2.center.js-split-words Detailed recommendations from action research teams
              .tabs 
                .tab
                  .tab__title
                    img.icon(src="/assets/icon__hexagon.svg", alt="")
                    span School of the Arts
                  .tab__content
                    p Written by Students as Researchers <i>Avalon Garvey</i> and <i>Henry Dawson</i>
                    ul.findings
                      li Honesty about the gravity of the ecological crisis and what it means for students’ lives and careers
                      li A common group/ground - physical space on campus for student sustainability initiatives
                      li Coverage of issues in curricula, in a discipline-specific way
                      li Curriculum shaped by students – students and staff as partners in creating an ecologically just university, helping redesign curricula and campus life
                      li Geographic greening - a biophilic campus whose design and running reflects its values
                      li Transparency about the university’s green progress and challenges encountered
                      li Sustainability trumps Aesthetics as a design principle
                      li Break hierarchies to enlist students as citizens and act upon their ideas and initiatives
                    div(data-resources="art")
                      #dowloads-art(data-category="art")
                .tab
                  .tab__title
                    img.icon(src="/assets/icon__square.svg", alt="")
                    span School of Business
                  .tab__content
                    p Written by Students as Researchers <i>George Blaikie</i> and <i>Megan Coales</i>
                    div(data-resources="business")
                      #dowloads-business(data-category="business")
                .tab
                  .tab__title
                    img.icon(src="/assets/icon__triangle.svg", alt="")
                    span School of EDUCATION, LANGUAGE AND PSYCHOLOGY
                  .tab__content
                    p Written by Students as Researchers <i>Ryan Myhill</i> and <i>Nicole Nash</i>
                    div(data-resources="language")
                      #dowloads-language(data-category="language")
                .tab
                  .tab__title
                    img.icon(src="/assets/icon__circle.svg", alt="")
                    span School of Humanities
                  .tab__content
                    p Written by Students as Researchers <i>Daisy Hutchinson</i> and <i>Sophie Blackburn</i>
                    ul.findings
                      li Include green measures as a part of sports and societies accreditation. 
                      li Install a permanent ‘Our Green YSJ’ board in Holgate. 
                      li Support and encourage alternatives to those behaviours (especially transport) that 'undo the good' that individuals do: Facilitate 'cycling buses', and invite student involvement in greening fieldtrips. 
                      li Create social spaces for ‘green conversations’ to happen. 
                      li Strike a balance between INTEGRATING and NAMING sustainability. 
                      li Ramp up participatory opportunities, such as Geography’s Greening the University Day.
                      li MENTION the campus’s green offer - by known people rather than in anonymous emails. 
                      li Use Moodle to communicate about the campus’s green offer. 
                      li Engage students at Open Days, Welcome Week*, and beyond. 
                      li With new students, integrate getting to know York with getting to know York's green opportunities. As Daisy said: “Connecting to the land is relevant to any course". 
                      li Enhance opportunities for practical learning and demonstrations, e.g. greening your student diet. 
                      li ”If you’re going to do it, make it obvious”: Make things visible where students are likely to be stood waiting. 
                      li Engage engaged students in engaging others. 
                      li Include ‘sustainable study tips’ in year 1 skills modules 
                      li Use our green campus as ‘a microcosm of the world’!
                    div(data-resources="humanity")
                      #dowloads-humanity(data-category="humanity")
