h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    line-height: 100%;
    text-transform: uppercase;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

p {
    line-height: 150%;
    margin-bottom: 2rem;
    margin-top: 0;
    
    &.-lg {
        font-size: 1.5rem;
    }

    &.-sm {
        font-size: .9rem;
    }
}

.center {
    text-align: center;
}