h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    line-height: 100%;
    text-transform: uppercase;
}

h1 {
    font-size: 5rem;
    span {
        display: block;
        font-size: 0.25em;
        line-height: 150%;
        margin: 25px 0;
    }

    @media (max-width: 480px) {
        font-size: 15vw;
    }
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

p {
    line-height: 150%;
    margin-bottom: 2rem;
    margin-top: 0;
    
    &.-lg {
        @media (min-width: 481px) {
            font-size: 1.5rem;
        }
    }

    &.-sm {
        @media (min-width: 481px) {
            font-size: .9rem;
        }
    }
}

li {
    margin-bottom: 2rem;
}

a {
    color: var(--primary);
}

.center {
    text-align: center;
}