h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    line-height: 100%;
    text-transform: uppercase;
}

h1 {
    font-size: 5rem;

    @media (max-width: 480px) {
        font-size: 15vw;
    }

    &.-lg {
        @media (min-width: 1024px) {
            font-size: 7.5rem;
        }
    }
}

h2 {
    font-size: 3.5rem;
    @media (max-width: 480px) {
        font-size: 10vw;
    }
}

h3 {
    font-size: 2.5rem;
}

p {
    margin-bottom: 2rem;
    margin-top: 0;
    
    &.-lg {
        font-size: 1.25rem;
        line-height: 1.5em;
        @media (min-width: 481px) {
            font-size: 1.75rem;
        }
    }

    &.-sm {
        @media (min-width: 481px) {
            font-size: .9rem;
        }
    }
}

li {
    margin-bottom: 2rem;
}

a {
    color: var(--primary);
}

strong  {
    display: inline-block;
    padding: 0 5px;
    background: var(--primary);
}

.subtitle {
    display: block;
    font-size: 2rem;
    line-height: 150%;
    margin: 25px 0;
    font-family: $font-title;
    text-transform: uppercase;
    color: var(--primary);
}

.center {
    text-align: center;
}